body {
    background-image: url(a-bright-blue-background-with-one-white-feather-in-the-style-of-soft-and-dreamy-pastels-glimmering-light-effects-nature-inspired-imagery-fairycore-soft-focal-points-generate-ai-free-photo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(134, 194, 218, 0.808);
  }
  
  .container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .container input[type="number"] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .container p {
    margin-top: 20px;
    font-weight: bold;
  }